DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

MAIL_PORT=
USER_EMAIL=
USER_PASSWORD=

JWT_SECURITY_TOKEN=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_FAILURE_URL=

MELHOR_ENVIO_BASE_URL=
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_APP_EMAIL=
MELHOR_ENVIO_WEBHOOK_SECRET=
STORE_POSTAL_CODE=

STORE_NAME=
STORE_EMAIL=
STORE_PHONE=
STORE_ADDRESS=
STORE_NUMBER=
STORE_DOCUMENT=
STORE_DISTRICT=
STORE_CITY=
STORE_STATE=